<div class="testimonial-wrapper">
  {% for testimonial in testimonials %}
    <div class="testimonial">
      <p>{{ testimonial.testimonial }}</p>
      <p>By {{ testimonial.name }} on {{ testimonial.created|date('d/m/Y') }}</p>
    </div>
  {% endfor %}
</div>

{# Bouton "Afficher plus" #}
{#{% if has_more_testimonials %}#}
  <button id="load-more-testimonials">Afficher plus</button>
{#{% endif %}#}
